[data-uk-accordion] li {
    list-style: none;
}

#meeting-closing li,
#business-overview-remaining-items li,
#business-intergroup-minutes li {
    list-style: circle;
}

.uk-accordion-title {
    margin-top: 2rem;
}

a.uk-accordion-title {
    font-size: 2rem;
}
