.items {
  .uk-accordion-title {
    margin-top: 0.5em;
    font-size: 120%;
    font-weight: bolder;
  }

  .uk-card-title {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    font-size: 120%;
    font-style: italic;
  }

  .uk-card-body {
    padding: 0.5em;
    margin-bottom: 0.5em;

    p {
      margin-left: 1em;
    }
  }
}
